<% layout("/layouts/boilerplate") %>


    <div class="row mt-3">
        <div class="col-8 offset-2">
            <b>
                <%= selected.title %>
            </b> 
            </div>


    <div class="card-show col-6 offset-2 show-card listing-card" >
        <img src="<%= selected.image.url %>" class="card-img-top show-image" alt="listing_image">
        <div class="card-body">
          <p class="card-text">
       
         
            <p class="card-text">
                <i>owned by <%= selected.owner.username %></i>

            </p>
            
            <p class="card-text">
                <%= selected.description %>

            </p>
            <p class="card-text">
                <%= selected.price %>

            </p>
            <p class="card-text">
                <%= selected.location%>

            </p>
            <p class="card-text">
                <%= selected.country %>

            </p>

            
            
            
            
            
            
           


        
        </p>
        </div>
      </div>
    <br>
    
</div>
<% if (curruser && selected.owner._id.equals(curruser._id)) { %>
    <div class="btns">
        <a href="/listings/<%= selected._id %>/edit" class="btn btn-dark col-1 offset-2 edit-btn">Edit</a>
 
     
         <form action="/listings/<%= selected._id %>?_method=DELETE" method="post">
             <button class="btn btn-dark offset-4">Delete</button>
         </form>
 
     </div>
 
<% } %>

    
 


 

    <div class="col-8 offset-3">
        <hr>

<% if (curruser) { %>
        <h5>Leave A review</h5>
        <form action="/listings/<%= selected._id %>/reviews" method="post" novalidate class="needs-validation">
            <!-- <div class="mb-3 mt-3">
               
                <input class="form-range" type="range" min="1" max="5" name="rating">

            </div> -->
            <label for="rating" class="form-label">
                Rating
            </label>
            <fieldset class="starability-slot">
                
                
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Review</label>
                <textarea name="comment" id="comment" class="form-control"></textarea>
                <div class="invalid-feedback">Please Submit some comments for review</div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
        <% } %>
        <hr>
       
        
        <div class="all-review row" style="margin-right: 50px;">
            <% if (selected.reviews.length>0) { %>
                <h4>All Reviews</h4>
            <% } %>
            
            <% selected.reviews.forEach(element => { %>
               
                <div class="card-review ms-3 col-5 mb-3" id="review" >
                    <div class="card-body ">
                      <h5 class="card-title">@<%= element.author.username %></h5>
                      
                      <p class="starability-result" data-rating="<%= element.rating %>">
                        
                      </p>
                      <h6 class="card-subtitle mb-2 text-body-secondary"><%= element.comment %></h6>
                      <p class="card-text"><%= element.rating %></p>
                      

                      
                    </div>
                    <form class="mb-3" method="post" action="/listings/<%= selected._id %>/reviews/<%= element._id %>?_method=DELETE"><button type="submit" class="btn delete btn-sm btn-dark">Delete</button></form>
                    
                  </div>
               
         
                <% }) %>
            </div>
            
        
    </div>
    <script>
        let maptoken="<%= process.env.MAP_TOKEN %>";
        mapboxgl.accessToken =maptoken ;
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    center: [ 80.331871,26.449923], // starting position [lng, lat]
    zoom: 9 // starting zoom
    });
    </script>
    


